body{
    background-color: #263238;
    color: #ddd;
    font-family: courier;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1{
    font-size: 35pt;
    font-weight: normal;
    color: #d84315;
}

#grid{
    margin-left: auto;
    margin-right: auto;
}

#grid tr td{
    border: 1px solid #fff;
    background-color: #999;
    width: 40px;
    height: 40px;
    text-align: center;
}

#grid tr td.active{
    background-color: #333;
}

#grid tr td.mine{
    background-color: #d84315;
}

/* Button styles */
button {
    margin: 12px 0;
    padding: 10px 20px; /* Increased padding for a larger clickable area */
    background-color: #858f96; /* Light blue background */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Smooth hover effect */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

/* Button hover effect */
button:hover {
    background-color: #24e156; /* Darker blue on hover */
}
